<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset your password</title>
    <style>
        #note {
            visibility: hidden;
        }
    </style>
</head>
<body>
<label for="new_password">New Password:</label><br>
<input type="password" id="new_password" name="new_password"><br><br>
<label for="retype_new_password">Retype New Password:</label><br>
<input type="password" id="retype_new_password" name="retype_new_password"><br><br>
<input type="submit" value="Submit" onclick="callREST()">
<p id="note"></p>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  function callREST() {
    const newPassword = document.getElementById("new_password").value;
    const retypedNewPassword = document.getElementById("retype_new_password").value;
    if (newPassword !== retypedNewPassword) {
      displayText("The retyped password doesn't match with the new password. Please try again.");
    }
    else {
      const urlArr = window.location.href.split("/");
      const verificationCode = urlArr[urlArr.length - 1];
      resetPassword(newPassword, verificationCode)
        .then((resp) => {
          if (resp.data) {
            updatePageToSuccess();
          }
          else {
            const responseText = "Reset Password unsuccessful. Please make sure your new password has " +
              "at least 6 characters, with one number, one upper case letter, and one special character.";
            displayText(responseText);
            clearInput();
          }
        })
        .catch((err) => {
          displayText(err.message);
          clearInput();
        });
    }
  }

  function resetPassword(newPassword, verificationCode) {
    return axios.put("https://team6-tcss450-web-service.herokuapp.com/password", {
      newPassword: newPassword,
      verificationCode: verificationCode
    }).catch(err =>  err);
  }

  function updatePageToSuccess() {
    const items = document.body.getElementsByTagName("*");
    for (let i = 0; i < items.length; i++) {
      items[i].style.display = 'none';
    }
    displayText("The password has been reset!");
  }

  function displayText(text) {
    const note = document.getElementById("note");
    note.innerText = text;
    note.style.display = "block";
    note.style.visibility = "visible";
  }

  function clearInput() {
    const newPassword = document.getElementById("new_password");
    const retypedNewPassword = document.getElementById("retype_new_password");
    newPassword.value = "";
    retypedNewPassword.value = "";
  }
</script>
</html>
